*{
    margin: 0px;
    padding: 0px ;
}

.head{
    height: 50px;
    background-color: #ff4d4f;
    line-height: 50px;
    padding: 0 10% 0 10%;
    overflow: hidden;
}

.head img{
    width:20px;
    height: 20px;
    margin: auto;
    vertical-align: middle;
}

.head a{
    float: right;
    padding: 0 10px 0 10px;
    text-decoration: none;
}

.head a:hover{
    background-color: blue;
}


.xhddy{
    text-align: center;  
    line-height: 60px ;   
}

.xhddy a{
    font-size: 20px;
}


.dytp{
    width:100%;
}
.nbdytp{
   
    padding: 0 10% 0 10%;
}

.responsive{
    float: left;
    width: 25%;
    padding: auto 0 0 0;
}
.responsive a{
    text-decoration: none;
}
.img{
    margin: 5px;
    border: 1px solid #ccc;
}
.img img{
    width: 100%;
    height: auto;
    opacity:1;
    filter:alpha(opacity=100);
}

.img:hover {
    border: 1px solid blue;
    opacity:0.4;
    filter:alpha(opacity=40);
}

.desc {
    padding: 15px;
    text-align: center;
    
}



.xhdxs{
    text-align: center;
    line-height: 60px ; 
}

.xhdxs a{
    font-size: 20px;
   
}
.xstp{
    width:100%
}
.nbxstp{
    padding: 0 10% 0 10%;
}


hr{
    height: 5px ;
    background-color: black;
    width:50px;
    margin: auto;
}
.daoer{ 
    width: 100%;
    background-color: #a8071a;
    border-bottom: solid black;
    height: 90%;
    
    text-align: center;
}

.daoer #shuoming{
     /* display: block; */
     width:60%;
     float: left;
     padding: 0px;
}
.daoer #tupian{
    float: right;
    width:29%;
    margin: 10px;

  
}


.daoer img{
    width:150px;
    height: auto;
   
}

.daoyi{
    text-align: center;
    height: 10%;
    
}

.footer{  
    overflow: hidden;   
    background-color: #a8071a;
    padding: 0 10% 0 10% ;
}
